.h1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33b5e5;
}

.h1 li {
    float: left;
}

.h1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.h1 li a:hover:not(.active) {
    background-color: #111;
}

.h1 .active {
    background-color: #4CAF50;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    text-align: center;
    height:80px;
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

* {
    box-sizing: border-box;
}
video {
    width: 100%;
    height: auto;
}

.row:{
  position: relative;
}

.menu{
  float: right;
  position: absolute;
  top:35%;
  right:0%;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: pink;
    color: #ffffff;
    padding: 15px;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}



h1 {

    color:white;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:0px; top:0px;}
    50%  {color:blue; left:0px; top:0px;}
    75%  {color:green; left:0px; top:0px;}
    100% {color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:0px; top:0px;}
    50%  {color:blue; left:0px; top:0px;}
    75%  {color:green; left:0px; top:0px;}
    100% {color:red; left:0px; top:0px;}
}
/*
#F5DA81#AEB404#070719#D8D8D8#E1F5A9#AEB404#333333#6C6C6C#EFFBFB#FE9A2E
*/
